# Dependências
node_modules/

# Build
dist/
.parcel-cache/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporários
*.tmp
*.bak
~$*

# Playwright
playwright-report/
test-results/
